nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    li
      a(data-scroll, href='index.pug#about-section') About
    li
      a(data-scroll, href='index.pug#tracks') Tracks
    li
      a(data-scroll, href='schedule.pug') Schedule
    li
      a(data-scroll, href='index.pug#speaker-section') Speakers
    li
      a(data-scroll, href='index.pug#location') Location
    