<template lang="pug">
  .row
    .col-sm-9
      .dropdown.mb-4
        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | {{$route.name}}
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          router-link.dropdown-item(:to="{ name: 'simple' }") Simple
          router-link.dropdown-item(:to="{ name: 'expanded' }") Expanded
          router-link.dropdown-item(:to="{ name: 'venue' }") By Venue

      .filter(v-if="filter_venue") Filter Venue: 
        b {{filter_venue}}
        .close(@click.prevent="filter_venue=''") x
      .filter(v-if="filter_cat") Filter Type: 
        b {{filter_cat}}
        .close(@click.prevent="filter_cat=''") x

      router-view(@filter-venue="filterVenue" @filter-cat="filterCat" :speakers="speakers", :schedule="schedule", :filter_venue="filter_venue", :filter_cat="filter_cat")

    .col-sm-3.right_side
      .venue-list
        h4 Filter by Venue
        ul
          li(v-for="item in venues")
            a(href="#" @click.prevent="filter('venue',item)") {{item}}
      .category-list
        h4 Filter by Type
        span(v-if="categories.length<1") No items
        ul
          li(v-for="item in categories" v-if="item" :class="category_class[item]")
            a(href="#" @click.prevent="filter('cat',item)") {{item}}
</template>

<script>
import csvtojson from '../csvtojson.js';

export default {
  name: "App",
  data() {
    return {
      speakers : [],
      schedule : [],
      filter_venue: "",
      filter_cat: "",
      key: '12QMWOWcYoQ_Ou57K2NtpxN8g7_2AZICJcJUT446qr2A',
      // key: '2PACX-1vS-ci3OJiNLBlrk7BA9XbtPtUpeO717_BqoUrIOFCZ1VcHx7cB1FOfv7U8OqXgV9sO5_yGkQZhTDbS2',
    }
  },
  computed:{
    venues(){
      return this.getColUniq('venue');
    },
    categories(){
      var vm = this;

      if(this.filter_venue){
        var filtered = this.schedule.filter(function(item){
          return item.venue==vm.filter_venue
        }).map(function(item){
          return item['category'];
        })
        return [... new Set(filtered)];
      }
      else{
        return this.getColUniq('category');
      }
    },
    category_class(){
      var column = this.schedule.map(function(item){
        return { [item.category] : item.class}
      })
      return Array
              .from(new Set(column.map(JSON.stringify)))
              .reduce((obj, item) => Object.assign(obj, JSON.parse(item)), {});
    },
  },
  methods: {
    // loadData: function(item, key, gid){
    //   var vm = this;
    //   fetch(`https://docs.google.com/spreadsheets/d/e/${key}/pub?gid=${gid}&single=true&output=csv`)
    //   .then(response => response.text())
    //   .then(csv => csvtojson(csv))
    //   .then(function(json){
    //     vm[item]= JSON.parse(json);
    //   });
    // },
    loadData(item, sheet) {
      var vm = this;
      fetch(`https://gsapi.futurelabkerala.in/api?id=${this.key}&sheet=${sheet}&columns=false&integers=false`)
        .then(response => response.json())
        .then((response)=>{
          vm[item] = response.rows
        })
    },
    getColUniq: function(col){
      var column = this.schedule.map(function(item){
        return item[col];
      })
      return [... new Set(column)];
    },
    filterVenue(venue){
      this.filter_venue = venue;
    },
    filterCat(cat){
      this.filter_cat = cat;
    },
    filter(type, item){
      let vm = this;
      vm["filter_"+type]=item;
      if(this.$route.name=="details"){
        this.$router.push({name: "simple"});
      }
    }
    
  },
  mounted(){
    this.loadData('speakers', '2');
    this.loadData('schedule', '1');
  }
}
</script>

<style>

</style>