<template lang="pug">
  #location-section
    .table
      .tr.align-items-end
        .td.td-75
          h5 Sahrdaya College of Engineering and Technology
        .td.td-25
          img.img-fluid(src="../../img/sahrdaya_logo_icon.jpg")
      .tr.p-0
        .td.td-100
          p.pl-2 Kodakara, Thrissur Dt, Kerala, India
      iframe(type='text/html' title="google maps" width='100%' height='200' frameborder="0" style="border:0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15699.11827922123!2d76.2859136!3d10.3595024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47836d6961e2b979!2sSahrdaya+College+of+Engineering+and+Technology!5e0!3m2!1sen!2sin!4v1564466814064!5m2!1sen!2sin")
      .tr
        .td.justify-content-start
          a.button(target="_blank" href="https://www.google.com/maps/dir//College+Road,+PB+NO+17,+Kodakara,+Kerala+680684/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3ba7f83104152d61:0x47836d6961e2b979!11m1!4b1?entry=s&sa=X&ved=0ahUKEwjhz_T97JrlAhVFU30KHcw7CusQlDsIQCgBMAQ")
            i.fa.fa-location-arrow
            | Directions
      .tr
        .td.p-2.icon
          a(href="https://www.aanavandi.com/")
            img.img-fluid(src="../../img/ksrtc.jpg")
        .td.p-2.icon
          a(href="https://m.etrain.info/in-ADS?STATION=IJK")
            img.img-fluid(src="../../img/train.jpg")
</template>

<script>
export default {

}
</script>

<style>

</style>
