<template lang="pug">
  div#app-container
    section
      .container
        router-view

    section#footer-menu
      router-link(:to="{name: 'home'}")
        i.fa.fa-home
        span Home
      router-link(to="/schedule/simple")
        i.fa.fa-calendar
        span Schedule
      //- img.logo(src="./img/ksum-logo.png")
      //- a(href="speakers.pug")
      //-   i.fa.fa-users
      //-   span Speakers
      router-link(to="/register")
        i.fa.fa-pencil-square-o
        span Register
      router-link(to="/notification")
        i.fa.fa-bullhorn
        span Notifications
      router-link(to="/location")
        i.fa.fa-location-arrow
        span Location
</template>

<script>
export default {

}
</script>

<style>

</style>
