<template lang="pug">
  div
    #logo-section
      img.img-fluid.w-50(src="../../img/logo.png")
      h4 Asia's Largest Summit for Aspiring Entrepreneurs
    #about-section
      p Since 2016, Kerala Startup Mission, Nodal agency of Government of Kerala organizes IEDC Summit, Asia’s largest student Entrepreneurship Summit where the students get an opportunity to experience the technological diversities and advancements through a series of technology track events, brainstorming sessions, interactive community meet ups and product exhibitions.
      //- p IEDC Summit is also an avenue for participants of various units across the State to come together, to share their success stories, to learn from each other’s failures, to showcase their innovative products and also to develop strong networks that go a long way in developing sustainable enterprises.
    #join-us
      h4 Join us for the memorable days of immersing yourself into the great world of innovation &amp; entrepreneurship
      h3 on 19th October 2019 at
      img.img-fluid.w-75(src="../../img/sahrdaya_logo.jpg")
    #sponsor
      h5 Our Sponsor
      img.img-fluid.w-50(src="../../img/south-indian.png")
</template>

<script>
export default {

}
</script>

<style>

</style>
