<template lang="pug">
  #notification-section
    .notification(v-for="item in sorted")
      h5 {{item.Title}}
      p {{item.Content}}
      a.button(:href="item.Link") {{ item['Link Text'] }}
    .p(v-if="sorted.length==0") No Notifications
</template>


<script>
import csvtojson from '../csvtojson.js';

export default {
  data() {
    return {
      data: [],
      key: '2PACX-1vS-ci3OJiNLBlrk7BA9XbtPtUpeO717_BqoUrIOFCZ1VcHx7cB1FOfv7U8OqXgV9sO5_yGkQZhTDbS2',
    }
  },
  computed:{
    sorted: function(){
      var filtered = this.data.slice().sort(function(a, b) {
        var date1 = Date.parse(a.Timestamp);
        var date2 = Date.parse(b.Timestamp);

        return date2 - date1;
      });
      return filtered;
    }
  },
  methods: {
    loadData: function(item, key, gid){
      var vm = this;
      fetch(`https://docs.google.com/spreadsheets/d/e/${key}/pub?gid=${gid}&single=true&output=csv`)
      .then(response => response.text())
      .then(csv => csvtojson(csv))
      .then(function(json){
        vm[item]= JSON.parse(json);
      });
    },
  },
  mounted(){
    this.loadData('data', this.key, '1637131927');
  }
}
</script>

<style>

</style>
