<template lang="pug">
  div
    #register-section
      //- h3 Register Now
      //- h4.mt-5 Individual Registration
      //- .table
      //-   .tr
      //-     .td New Registration
      //-     .td
      //-       a(href="http://eventgurus.net/registration/iedc" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Individual Button'});" target="_blank" rel="noopener" aria-label="reg link")
      //-         button.btn.btn-primary.btn-sm.btn-success Register Now
      //-   .tr
      //-     .td Failed Payment
      //-     .td
      //-       a(href="http://eventgurus.net/paylink?evid=168" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Failed Button'});" target="_blank" rel="noopener" aria-label="group link") 
      //-         button.btn.btn-primary.btn-sm.btn-secondary Retry Now

      //- h4.mt-3 Group Registration
      //- .table
      //-   .tr
      //-     .td New Registration
      //-     .td
      //-       a(href="http://eventgurus.net/groupreg_iedc" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Individual Button'});" target="_blank" rel="noopener" aria-label="reg link")
      //-         button.btn.btn-primary.btn-sm.btn-success Register Now
      //-   .tr
      //-     .td Failed Payment
      //-     .td
      //-       a(href="http://eventgurus.net/paylink_sponsor?evid=168" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Failed Button'});" target="_blank" rel="noopener" aria-label="group link") 
      //-         button.btn.btn-primary.btn-sm.btn-secondary Retry Now
      //-   .tr
      //-     .td Add Participant
      //-     .td
      //-       a(href="http://eventgurus.net/sponsor" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Failed Button'});" target="_blank" rel="noopener" aria-label="group link") 
      //-         button.btn.btn-primary.btn-sm.btn-info Login

      //- h4.mt-3 Request Correction
      //- .table
      //-   .tr
      //-     .td Change details after registration
      //-     .td
      //-       a(href="https://forms.gle/7GJGDZourtuox6mo6" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Individual Button'});" target="_blank" rel="noopener" aria-label="reg link")
      //-         button.btn.btn-primary.btn-sm.btn-success Click Here

      h2.pb-3.text-center Registration counter will be open at 7:45 AM
      h3.text-center Entry to summit will be subject to scanning of BARCODE 
      h6 (please keep print out or soft copy of registration badge ready)
      
      h3.py-4.text-center SPOT registration will close at 09:00 AM
      h3.text-center Spot registration amount is Rs.500 
      h6 (to be paid online, inclusive of gateway charges)
      p
      h5.text-center * We cannot guarantee registrations after 9:00AM due to logistical constraints.
      p
      h3.text-center * Payment in cash will not be accepted in any circumstance

</template>

<script>
export default {

}
</script>

<style>

</style>
