<template lang="pug">
  div(v-cloak)
    .schedule.expanded(v-for="sched in dates")
    
      h3 {{sched}}

      .schedule-item(v-for="(item, index) in dated(sched)" :key="index" :class="item.class?item.class:''")
        .time {{item.start}}
        .item
          router-link(:to="item.id") {{item.item}}
        .description(v-if="item.description")
          vue-simple-markdown(:source="item.description")

        .speakers(v-if="item.speakers.length")
          .speaker-item(v-for="spk in item.speakers.split(',')")
            img(:src="speakers[spk-1].image")
            .descp
              h3 {{speakers[spk-1].name}}
              h4 {{speakers[spk-1].designation}}
              h4 {{speakers[spk-1].company}}

        .details
          p {{item.date}} {{item.start}} - {{item.end}} 
          |Venue: 
          a(href="#" @click.prevent="$emit('filter-venue',item.venue)") {{item.venue}}
          .tag(v-if="item.category")
            a(href="#" @click.prevent="$emit('filter-cat',item.category)") {{item.category}}

      p(v-if="dated(sched).length == 0") No items matching the filter
</template>

<script>
export default {
  name: "Expanded",
  props: ['speakers', 'schedule', 'filter_venue', 'filter_cat'],
  computed:{
    filtered(){
      var filtered = this.schedule;
      var vm = this;
      if(this.filter_venue){
        filtered = filtered.filter(function(item){
          return item.venue==vm.filter_venue
        })
      }
      if(this.filter_cat){
        filtered = filtered.filter(function(item){
          return item.category==vm.filter_cat
        })
      }

      filtered = filtered.slice().sort(function(a, b) {
        var date1 = Date.parse(a.date + " " + a.start);
        var date2 = Date.parse(b.date + " " + b.start);

        return date1 - date2;
      });

      return filtered;
    },
    dates(){
      return this.getColUniq('date');
    }
  },
  methods:{
    getColUniq: function(col){
      var column = this.schedule.map(function(item){
        return item[col];
      })
      return [... new Set(column)];
    },
    dated: function(date){
      return this.filtered.filter(function(item){
        return item.date == date;
      });
    }
  },
  
}
</script>

<style>

</style>
