<template lang="pug">
  #div
    .schedule(v-for="sched in dates")
      
        h3 {{sched}}

        .schedule-item(v-for="(time, index) in dated(sched)" :key="index" )
          .time {{time}}
          .item(v-for="(item, ind) in timed(time, sched)" :key="ind" :class="item.class?item.class:''")
            router-link(:to="item.id") {{item.item}}
        
        p(v-if="dated(sched).length == 0") No items matching the filter

</template>

<script>
export default {
  name: 'Simple',
  props: ['speakers', 'schedule', 'filter_venue', 'filter_cat'],
  computed:{
    filtered(){
      var filtered = this.schedule;
      var vm = this;
      if(this.filter_venue){
        filtered = filtered.filter(function(item){
          return item.venue==vm.filter_venue
        })
      }
      if(this.filter_cat){
        filtered = filtered.filter(function(item){
          return item.category==vm.filter_cat
        })
      }

      filtered = filtered.slice().sort(function(a, b) {
        var date1 = Date.parse(a.date + " " + a.start);
        var date2 = Date.parse(b.date + " " + b.start);

        return date1 - date2;
      });

      return filtered;
    },
    dates(){
      return this.getColUniq('date');
    }
  },
  methods:{
    getColUniq: function(col){
      var column = this.schedule.map(function(item){
        return item[col];
      })
      return [... new Set(column)];
    },
    dated: function(date){
      var column = this.filtered.filter(function(item){
        return item.date == date;
      });
      column = column.map(function(item){
        return item['start'];
      })
      return [... new Set(column)];
    },
    timed: function(time, date){
      var column = this.filtered.filter(function(item){
          return item.date == date;
        }).filter(function(item){
          return item.start == time;
        });
      return [... new Set(column)];
    }
  },
}
</script>
