<template lang="pug">
  div(v-cloak)
    .schedule.single
    
      h3 {{selected.date}} | {{selected.start}} - {{selected.end}}

      .schedule-item(:class="selected.class?selected.class:''")
        .item
          router-link(:to="selected.id") {{selected.item}}
        .description(v-if="selected.description")
          vue-simple-markdown(:source="selected.description")

        .speakers(v-if="selected.speakers.length")
          .speaker-item(v-for="spk in selected.speakers.split(',')")
            img(:src="speakers[spk-1].image")
            .descp
              h3 {{speakers[spk-1].name}}
              h4 {{speakers[spk-1].designation}}
              h4 {{speakers[spk-1].company}}

        .details
          p {{selected.date}} {{selected.start}} - {{selected.end}} 
          |Venue: 
          a(href="#" @click.prevent="$emit('filter-venue',selected.venue);$router.push({name: 'simple'});") {{selected.venue}}
          .tag(v-if="selected.category")
            a(href="#" @click.prevent="$emit('filter-cat',selected.category);$router.push({name: 'simple'});") {{selected.category}}
</template>

<script>
export default {
  name: "Single",
  props: ['id', 'speakers', 'schedule', 'filter_venue', 'filter_cat'],
  computed:{
    selected: function(){
      var vm = this;
      return this.schedule.filter(function(item){
        return item.id == vm.id
      })[0]
    }
  },
  mounted(){
    window.scrollTo(0,0);
    document.getElementById("app-container").scrollTo(0,0);
  }
}
</script>

<style>

</style>
