@import "./mixins";
#app-container{
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 80px;

  @include my_bp(sm){
    display: none;
  }
}

.buttonDownload{
  right: 20px;
}

#logo-section{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  h4{
    font-family: 'Righteous', cursive;
    padding-left: 20px;
  }
}

.table{
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;

  .tr{
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    padding: 10px;

    .td{
      display: flex;
      flex: 0 0 50%;
      align-items: center;
      

      &.td-75{
        flex: 0 0 75%;
      }

      &.td-25{
        flex: 0 0 25%;
      }

      &.td-100{
        flex: 0 0 100%;
      }
    }
  }
}

#notification-section{
  .notification{
    border-radius: 5px;
    box-shadow: 0 0 16px rgba(200,200,200, 0.4);
    margin-bottom: 15px;
    padding: 10px;

    h5{
      font-family: 'Righteous', cursive;
      font-size: 18px;
    }

    p{
      font-size: 14px;
    }
    .button{
      display: inline-block;
      border-radius: 10px;
      padding: 5px 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 14px;
    }
  }
}

#about-section{
  padding-top: 20px;
  position: relative;

  &:before{
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    display: block;
    background-image: url('../img/ksum-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .1;
    top: 50%;
    left:50%;
    transform: translate(-75px, -35px);
  }

  p{
    text-align: justify;
    font-size: 12px;
  }
}

#join-us{
  text-align:center;

  h3{
    font-family: 'Righteous', cursive;
    font-size: 25px;
    text-align: center;
  }

  h4{
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 18px;
  }
}

#sponsor{
  padding-top: 20px;
  text-align: center;
  h5{
    font-family: 'Righteous', cursive;    
  }
}

#register-section{
  width: 100%;
  h3{
    font-family: 'Righteous', cursive;    
    text-align: center;
  }

  h4{
    font-family: 'Righteous', cursive;    
    font-size: 24px;
  }
}

#location-section{
  h5{
    font-family: 'Righteous', cursive;    
    font-size: 18px;
  }

  .button{
    background: #1A73E8;
    border-radius: 8px;
    color: white;
    padding: 5px 10px;

    &:hover{
      text-decoration: none;
    }

    i{
      margin-right: 10px;
    }

  }

  .icon{
    img{
      border-radius: 15px;
      box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    }
  }
}

#footer-menu{
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 98;
  background-color: rgba(249,249,249,.98);
  min-height: 60px;
  box-shadow: 0 -5px 10px 0 rgba(0,0,0,.06);
  overflow: hidden;
  position: fixed;
  transition: all 250ms ease;
  display: flex;
  align-items: center;

  @include my_bp(md){
    display: none !important;
  }

  .logo{
    width:20%;
    padding: 5px;
  }

  a{
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1f1f1f;
    padding-bottom: 4px;

    &.active-nav{
      color:#DA4453;
    }

    &:hover{
      text-decoration: none;
      box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.1);
    }

    i{
      padding-top: 10px;
      font-size: 22px;
      font-weight: bold;
    }

    span{
      padding-top:4px;
      font-size: 12px;
    }
  }
}