@import "./mixins";
#slider-section{
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before{
    background-color: rgba(14, 8, 31, .8);
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
  }

  #info-container{
    position: absolute;
    bottom: 10px;
    color: white;
    display: none;

    @include my_bp(sm){
      bottom: 30px;
      display: block;
    }

    .venue{
      display: flex;
      flex-direction: column;

      h2{
        font-family: 'Kaushan Script', cursive;
        // font-size: 1.7rem;
      }

      h3{
        font-family: 'Permanent Marker', cursive;
        // font-weight: normal;
      }
    }

    .date{
      display: flex;
      flex-direction: column;

      h2{
        font-family: 'Kaushan Script', cursive;
        // font-size: 1.7rem;
      }

      h3{
        font-family: 'Permanent Marker', cursive;
        // font-weight: normal;
      }
    }
  }

  #logo-container{
    position: absolute;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include my_bp(sm){
      flex-direction: row;
    }

    img{
      width: 250px;
      transition: all 5s;
    }

    #type-area{
      color: white;
      font-size: 50px;
      font-family: 'Righteous', cursive;

      @include my_bp(sm){
        font-size: 70px;
      }
    }
  }

  img.slide{
    height: 100vh;
    width: auto;


    @include my_bp(sm){
      height: auto;
      width: 100vw;
    }
  }
}

#about-section{

  .counter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .counter-item{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    margin: 5px;
    width: 160px;

    &:nth-of-type(1){
      // background-color: #0a0229;
      background: radial-gradient(circle at 0px 0px, #ED213A 0%, #93291E 100%);
      color: white;
    }

    &:nth-of-type(2){
      // background-color: brown;
      background: radial-gradient(circle at 0px 0px, #8E2DE2 0%, #4A00E0 100%);
      color: white;
    }

    &:nth-of-type(3){
      // background-color: rgb(25, 51, 1);
      background: radial-gradient(circle at 0px 0px, #727a17 0%, #414d0b 100%);

      color: white;
    }

    &:nth-of-type(4){
      // background-color: rgb(73, 0, 57);
      background: radial-gradient(circle at 0px 0px, #C06C84 0%, #355C7D 100%);

      color: white;
    }

    .count-number{
      font-family: 'Righteous', cursive;
      font-size: 50px;
      text-align: center;
    }

    .count-text{
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .video-block{
    margin-top: 50px;
    display: inline-block;
    background: white;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 1px 3px #666;

    iframe{
      max-width: 100%;
    }

    img{
      
      width: 800px;
      max-width:100%;
    }
  }

  .gallery{
    

    img{
      width:100%;
      padding: 10px 10px 10px 10px;
      box-shadow: 1px 1px 3px #666;
    }
  }

}

#join-us{
  // background: #2f323b;
  --x: 0px;
  --y: 0px;
  background: radial-gradient(circle at var(--x) var(--y), #6441A5 0%, #2a0845 100%);

  color: white;
  h1{
    padding: 20px 0px;

  }
  h3{
    font-family: 'Courgette', cursive;
    color: white;
  }
  #sah_logo{
    width: 80%;

    @include my_bp(sm){
      width: 50%;
    }
  }
  .qr-code-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      margin-bottom: 0;
      padding-bottom: 0;
    }

    img{
      max-width:150px;
      margin: 30px;

      @include my_bp(sm){
        margin:0;
      }
    }

    button{
      pointer-events: auto;
      margin-top:20px;
    }
  }

  marquee a{
    color: white;

    &:hover{ 
      color: white;
    }
  }
}

#tracks{

  .card{
    background: #fff;
    border: 0;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    transition: all 0.3s ease-out;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 400px;
    cursor: pointer;

    @include my_bp(sm){
      max-width: 30%;
    }

    h3{
      z-index: 10;
      padding-top: 60px;
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: #25274d;
      font-size: 1.6rem;
    }

    p{
      opacity: 0;
      transform: scale(0);
      font-weight: bold;
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      padding-top: 35px;
      text-align: justify;
      color: #25274d;
      margin: 0;
    }

    &:hover{
      h3{
        color: white;
        padding-top: 20px;
      }

      p{
        opacity: 1;
        transform: scale(1);
        // display: block;
        
      }

      .icon-holder{
        margin-top: 0px;

        .overlay{
          transform: scale(3.6) translateZ(0) translateY(-20px);
        }
      
        .circle{
          border: 2px solid white;

          img{
            background: white;
          }
        }
      }

    }

    .icon-holder{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      transition: all 0.3s ease;

      .overlay{
        // background: #6441A5;
        background: radial-gradient(circle at 50% 50%, #6441A5 0%, #2a0845 100%);

        height: 130px;
        width: 130px;
        position: absolute;
        border-radius: 50%;
        transition: transform 0.3s ease-out;
      }

      .circle{
        border: 2px solid #25274d;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transition: all 0.3s ease-out;
        
  
        img{
          // background: #6441A5;
          background: radial-gradient(circle at 50% 50%, rgb(170, 128, 248) 0%, #6441A5 100%);

          border-radius: 50%;
          width: 130px;
          height: 130px;
          transition: all 0.3s ease-out;

        }
      }
    }

    
  }
}

#speaker-section{

  .speaker-list{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;

    .speaker{
      width: 50%;
      margin-top: 50px;

      @include my_bp(sm){
        width: 25%;
      }


      img{
        width: 160px;
        border-radius: 50%;  
        padding: 10px;
        box-shadow: 1px 1px 5px #666;      
        cursor: pointer;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &:hover{
          padding: 2px;
          transform: translateY(-5px);
        }
      }

      .descp{
        padding-top: 10px;

        h4{
          font-size: 18px;
          font-family: 'Blinker', sans-serif;
          font-weight: bold;

        }

        h5{
          font-size: 14px;
          font-family: 'Blinker', sans-serif;
          margin:0;
        }
      }
    }
  }
}

#sponsors{
  background: radial-gradient(circle at 50% 50%, #6441A5 0%, #2a0845 100%);
  // background: radial-gradient(circle at 50% 50%, #f73838 0%, #7c0202 100%);
  
  h1{
    color: white;
  }

  .sponsor-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .sponsor{

      img{
        max-width: 250px;
      }
    }
  }
}

#location{
  line-height: 0;
  display: flex;

  iframe{
    width: 50%;
  }

  .sah_img{
    background: url('../img/sah_img.jpg');
    content: '';
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}