doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/app.scss")
  link(rel="stylesheet", href="./css/sched.scss")
  body

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    #app
        

script(src="./js/app.js")
script.
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
    });
  }