doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#slider-section
      .container#logo-container
        .row
          .col
            img#logo(src="./img/logo.png" alt="iedc logo")
        div#type-area
      .container#info-container
        .row
          .col-sm-8.venue
            h3 Venue
            h2 Sahrdaya College of Engineering and Technology
          .col-sm-4.date
            h3 Date
            h2 19 October 2019
        
      img.slide(src="./img/bg1.webp" alt="iedc summit bg 1")
      img.slide(src="./img/bg2.webp" alt="iedc summit bg 2")
      img.slide(src="./img/bg4.webp" alt="iedc summit bg 3")
      img.slide(src="./img/bg3.webp" alt="iedc summit bg 4")

    section#about-section.section-content
      .container
        .row
          .col-sm-8  
            h1.pb-3 About
            p.text-justify 
              | Since 2016, Kerala Startup Mission, Nodal agency of Government of Kerala organizes IEDC Summit, Asia’s largest student Entrepreneurship Summit where the students get an opportunity to experience the technological diversities and advancements through a series of technology track events, brainstorming sessions, interactive community meet ups and product exhibitions.
            p.text-justify
              | IEDC Summit is also an avenue for participants of various units across the State to come together, to share their success stories, to learn from each other’s failures, to showcase their innovative products and also to develop strong networks that go a long way in developing sustainable enterprises.
          .col-sm-4
            .counter
              .counter-item
                span.count-text Attendees
                span.count-number(data-count="4000") 0
              .counter-item
                span.count-text Startups
                span.count-number(data-count="100") 0
              .counter-item
                span.count-text Events
                span.count-number(data-count="25") 0
              .counter-item
                span.count-text Speakers
                span.count-number(data-count="25") 0
        .row
          .col.text-center
            .video-block
              a.video-pop-up(href="//www.youtube.com/watch?v=a8Nqa9dzQSk")
                img(src="./img/thumb.webp"  alt="iedc summit thumb 1")
              //- iframe(type='text/html' width='830' height='400' src='//www.youtube.com/embed/a8Nqa9dzQSk?autoplay=0' frameborder='0')

        .row.gallery
          .col-sm-4.pt-5
            a.video-pop-up(href="//www.youtube.com/watch?v=jzyTX9SRTpk")
              img(src="./img/thumb1.webp" alt="iedc summit thumb 1")
          .col-sm-4.pt-5
            a.video-pop-up(href="//www.youtube.com/watch?v=XrPAxDk_dM4")
              img(src="./img/thumb2.webp"  alt="iedc summit thumb 1")
          .col-sm-4.pt-5     
            a.video-pop-up(href="//www.youtube.com/watch?v=k1wGLf7s5tA")
              img(src="./img/thumb3.webp" alt="iedc summit thumb 1") 

    section#join-us.section-content
      .container
        .row.align-items-center
          .col-sm-12.text-center
            h1.pb-3.text-center Registration counter will be open at 7:45 AM
            h2.text-center Entry to summit will be subject to scanning of BARCODE 
            h5 (please keep print out or soft copy of registration badge ready)
            
            h1.py-4.text-center SPOT registration will close at 09:00 AM
            h2.text-center Spot registration amount is Rs.500 
            h5 (to be paid online, inclusive of gateway charges)
            p
            h4.text-center * We cannot guarantee registrations after 9:00AM due to logistical constraints.
            p
            h2.text-center * Payment in cash will not be accepted in any circumstance
          //-   h3 Join us for the memorable days of immersing yourself into the great world of innovation &amp; entrepreneurship
          //-   h1 on 19th October 2019 at
          //-   img.img-fluid#sah_logo(src="./img/sah_logo.png" alt="iedc summit sahrdaya logo")
            
            
          .col-sm-12.qr-code-block
            //- h3 Register Now
            //- img.img-fluid(src="./img/qrcode.png" alt="iedc summit qrcode")
            //- a(href="http://eventgurus.net/registration/iedc" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Individual Button'});" target="_blank" rel="noopener" aria-label="reg link")
            //-   button.btn.btn-primary Individual Registration
            //- small.pt-3.text-center If you have done Individual Registration but couldn't complete payment and registration
            //- a.mt-2(href="http://eventgurus.net/paylink?evid=168" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Failed Button'});" target="_blank" rel="noopener" aria-label="group link") 
            //-   button.btn.btn-primary.btn-sm.m-0 Individual Registration - Payment
            //- a(href="http://eventgurus.net/groupreg_iedc" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Group Button'});" target="_blank" rel="noopener" aria-label="group link")
            //-   button.btn.btn-primary Group Registration
            //- small.pt-3.text-center If you have done Group Registration but couldn't complete payment and registration
            //- a.mt-2(href="http://eventgurus.net/paylink_sponsor?evid=168" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Failed Group Button'});" target="_blank" rel="noopener" aria-label="group link") 
            //-   button.btn.btn-primary.btn-sm.m-0 Group Registration - Payment
            //- small.pt-3.text-center If you have already made payment Login for adding participants list
            //- a.mt-2(href="http://eventgurus.net/sponsor" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Sponsor login Button'});" target="_blank" rel="noopener" aria-label="group link") 
            //-   button.btn.btn-primary.btn-sm.m-0 Group Registration - Login
            //- small.pt-3.text-center If you have done Group Registration and Payment mode is Cheque 
            //- a(href="https://docs.google.com/forms/d/e/1FAIpQLSeSafC7aTXzf0OL4k4zswUXIyP3E_gQcUpVXKm_1FdluEAw0g/viewform" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Failed Button'});" target="_blank" rel="noopener" aria-label="group link") 
            //-   button.btn.btn-primary.btn-sm.m-0 Click Here to Fill Details
            
      //- marquee.mt-2(behavior="alternate" onmousedown="this.stop();" onmouseup="this.start();") 
      //-   a(href="https://forms.gle/7GJGDZourtuox6mo6" style="pointer-events: all !important;" target="_blank" onclick="a('event', 'register', {'event_category': 'Register','event_label': 'Request change Button'});") Correct your Name/ Email id after registration

    include variables/tracks.pug

    section#tracks.section-content
      .container
        .row
          .col-sm-12
            h1.pb-3.text-center WHAT WE HAVE FOR YOU?
            for tracks in tracks1
              .card-deck.pt-5.justify-content-center
                for track in tracks
                  .card
                    .icon-holder
                      .overlay
                      .circle
                        img(src="./img/"+track.image alt="iedc summit track img")
                    h3 #{track.title}
                    p #{track.desc}
        .row.pt-5
          .col-sm-12.d-flex.justify-content-center
            a(href="schedule.pug"  aria-label="reg link")
              button.btn.btn-primary Detailed Schedule

    section#speaker-section.pb-5
      .container
        h1.pb-3.text-center Some of our Speakers
        .speaker-list
          .speaker(v-for="(item, index) in sorted" :key="index")
            a(:href="item.link" target="_blank")
              img(:src="'./'+item.image" alt="iedc summit speaker img")
            .descp
              h4 {{item.name}}
              h5 {{item.designation}}
              h5 {{item.company}}

    section#sponsors.section-content
      .container
        h1.pb-5.text-center Our Sponsors
        .sponsor-list
          .sponsor
            img(src="./img/south-indian-white.png" alt="iedc summit sib")

    section#location
      iframe(type='text/html' title="google maps" width='100%' height='400' frameborder="0" style="border:0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15699.11827922123!2d76.2859136!3d10.3595024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47836d6961e2b979!2sSahrdaya+College+of+Engineering+and+Technology!5e0!3m2!1sen!2sin!4v1564466814064!5m2!1sen!2sin")
      .sah_img

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
