doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/schedule.scss")
  body

    include parts/menu.pug

    section#schedule-section.section-content
      .container(v-cloak)
        .row
          .col-sm-9
            .schedule
              .filter(v-if="filter_venue") Filter Venue: 
                b {{filter_venue}}
                .close(@click="filter_venue=''") x
              .filter(v-if="filter_cat") Filter Type: 
                b {{filter_cat}}
                .close(@click="filter_cat=''") x

              h3 Saturday, November 3
 
              .schedule-item(v-for="(item, index) in filtered" :key="index" :class="item.class?item.class:''")
                .time {{item.start}}
                .item
                  a {{item.item}}
                .description(v-if="item.description")
                  vue-simple-markdown(:source="item.description")

                .speakers(v-if="item.speakers.length")
                  .speaker-item(v-for="spk in item.speakers")
                    img(:src="speakers[spk-1].image")
                    .descp
                      h3 {{speakers[spk-1].name}}
                      h4 {{speakers[spk-1].designation}}
                      h4 {{speakers[spk-1].company}}

                .details
                  p {{item.date}} {{item.start}} - {{item.end}} 
                  |Venue: 
                  a(href="#" @click="filter_venue=item.venue") {{item.venue}}
                  .tag(v-if="item.category")
                    a(href="#" @click="filter_cat=item.category") {{item.category}}
          .col-sm-3.right_side
            .venue-list
              h4 Filter by Venue
              ul
                li(v-for="item in venues")
                  a(href="#" @click="filter_venue=item") {{item}}
            .category-list
              h4 Filter by Type
              span(v-if="categories.length<2") No items
              ul
                li(v-for="item in categories" v-if="item")
                  a(href="#" @click="filter_cat=item") {{item}}

    include parts/footer.pug

script(src="./js/index.js")
script(src="./js/schedule.js")
