doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/sched.scss")
  body

    include parts/menu.pug

    section#schedule-section.section-content
      .container
        #app
        

    include parts/footer.pug

script(src="./js/index.js")
script(src="./js/sched.js")
